@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: #1c1c1c;
  margin: 6px 0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
  box-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 30px #ff4444,
    0 0 40px #ff6666;
  transition: box-shadow 0.3s ease, background-color 0.3s ease,
    opacity 0.3s ease;
  opacity: 0.8;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  box-shadow: 0 0 15px #555, 0 0 30px #777, 0 0 40px #999, 0 0 50px #bbb;
  opacity: 1;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgb(0, 162, 255) #1c1c1c;
}

::-webkit-scrollbar-thumb {
  opacity: 0;
}

body:hover ::-webkit-scrollbar-thumb,
body:active ::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:active {
  opacity: 0.8;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
